# Tofu/Terraform
.terraform/
*.tfvars
*.tfvars.json
terraform.tfstate*
*.tfplan

# Credentials and sensitive files
*openrc*
.env
*kubeconfig*
config
*.log
*secrets/
*secrets*.yaml
rendered-*.yaml
rendered-*.yml

# Others
kubespray
cluster_api
k8s_tunnel.sh
.ipynb_checkpoints
*.swp
obsolete
zonca.dev

2i2c/
backup_volumes/RESTIC_REPOSITORY
jetstream_kubespray/
tfplan
