debug:
    enabled: true
hub:
  db:
    type: sqlite-pvc
    pvc:
      accessModes:
        - ReadWriteOnce
      storage: 1Gi

singleuser:
  defaultUrl: "/lab"
  image:
    name: "ghcr.io/zonca/jupyterhub-dask-docker-image"
    tag: "20251118-d10d248"
  # very small limits for testing on small instances
  memory:
    guarantee: 1G
    limit: 2G
  cpu:
    guarantee: 1
    limit: 2
  storage:
    type: dynamic
    capacity: 1Gi
  # default is 300s, sometimes Jetstream volumes are slow to attach
  startTimeout: 600
  # See https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/38
  lifecycleHooks:
    postStart:
      exec:
        command:
           - "sh"
           - "-c"
           - >
             chmod 700 .ssh;
             chmod g-s .ssh;
             chmod 600 .ssh/*;
             exit 0
