hub:
  cookieSecret: "${cookie_secret}"

proxy:
  secretToken: "${proxy_token}"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt"
  hosts:
    - ${host}
  tls:
    - hosts:
        - ${host}
      secretName: certmanager-tls-jupyterhub
