backup_existing_data_volume.yaml
backup_existing_data_volume_claim.yaml
cdms_nfs_ssh_key
cdms_nfs_ssh_key.pub
debug-pod.yaml
docker-cvmfs-client/
example_client.yaml
example_nfs.yaml
rsync_data.sh
ssh_data.sh
test_nfs_mount_master.yaml
